<div class="table-responsive">
	<table class="table" style="margin-bottom: 5px;">
		<tr>
			<td width="50%" class="td_my">
				<label style="font-size: 30px"></label>
			</td>
			<td width="50%" class="td_my">
				<div class="input-group" style="margin-bottom: 5px;">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
		        <button class="btn btn-default" type="button">
		        		<span class="glyphicon glyphicon-search"></span>
		        </button>
		        <button class="btn btn-success" type="submit">▶</button>
		      </span>
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{{each data as suit i}}
<div class="panel panel-primary" style="margin-left: 10px;margin-right: 10px;margin-bottom: 5px">
	<div class="panel-heading container-fluid">
		<div class="row">
		  <div class="col-md-8">
		  	<h4 class="panel-title">
		  		<input type="checkbox" name="{{i}}_suit_as_chk" id="{{i}}_suit_as_chk" onclick="check_all(this,{{i}})" style="margin-right: 10px;" />
		  		{{suit.suiteName}} (一共:{{suit.caseName.length}}个,选中:<span id="{{i}}_checkcount_span">0</span>个)
		  	</h4>
		  </div>
		  <div class="col-md-4">
		  	<h4 class="panel-title" style="text-align:right;">
				<a class="my_a text-right" data-toggle="collapse" data-parent="#accordion" href="#{{i}}_suit_div" aria-expanded="true" aria-controls="collapseOne">
					<span id="collapseOneIcon" class="glyphicon glyphicon-minus"></span>
				</a>
			</h4>
		  </div>
		</div>
	</div>
	<div id="{{i}}_suit_div" class="panel-collapse collapse {{if i==0}}in{{/if}}">
		<div class="panel-body" style="padding: 0px;">
			<table class="table table-striped" style="margin-bottom: 0px;">
				{{each suit.caseName as casName j}}
				<tr>
					<td width="10%">
						<input type="checkbox" name="{{i}}_case_{{j}}_chk" id="{{i}}_case_{{j}}_chk" onclick="check_case(this,{{i}})" />
					</td>
					<td>{{casName}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>
{{/each}}
</div>